*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner.png); /*linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/banner-space.png);*/
    background-position: center;
    background-size: cover;
    position: relative;
}
body{
    background: #070705;
}

.rotmg-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/rotmg/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.space-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/space-game/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 80px;
    /*border: 1px solid #c9592e;*/
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #c9592e;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #c9592e;
    background: #c9592e;
    transition: 1s;
}
nav .fa{
    display: none;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
hr {
    color: #c9592e;
}
a {
    color: #c9592e;
}
b {
    color: #c9592e;
}

/* Current Project */
.current{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.current h1{
    color: #fff;
}

/* Experience */
.exp{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 50px;
}
.exp h1{
    color: #fff;
}
.exp-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: 2px solid #c9592e;
}
.exp-col img{
    width: 100%;
    display: block;
}
.layer{
    background: rgba(0,0,0,0.6);;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: transparent;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 49%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 0;
    opacity: 0;
}

/* Footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
}
.icons .fa-brands{
    color: #c9592e;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* Block Three */
.descShowcase{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.descShowcase h1{
    color: #fff;
}
.descShowcase-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.descShowcase-col img{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #c9592e;
}
.descShowcase-col h3{
    color: #fff;
}
.descShowcase-col p{
    padding: 0;
}
.descShowcase-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* Showcase */
.showcase{
    margin: 0px auto;
    width: 90%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showcase h1{
    color: #fff;
}
.video-container {
    margin: 50px auto;
    max-width: 1000px;
    position: relative;
}
video {
    width: 100%;
    height: auto;
    border: 1px solid #c9592e;
    border-radius: 10px;
}

/* Image Carousel */
.carousel {
    position: relative;
    width: 800px;
    max-width: 800px;
    height: 450px;
    max-height: 450px;
    overflow: hidden;
    border: 1px solid #c9592e;
    border-radius: 10px;
    margin-bottom: 80px;
}

  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
  }

  .carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    /*
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    */
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
  }

  .arrow.left {
    left: 10px;
  }

  .arrow.right {
    right: 10px;
  }

  .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }

  .dot {
    width: 10px;
    height: 10px;
    background-color: #555;
    border-radius: 50%;
    cursor: pointer;
  }

  .dot.active {
    background-color: #fff;
  }

  /* Fullscreen image styles */
  .fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .fullscreen img {
    max-width: 90%;
    max-height: 90%;
  }

/*Small viewport support*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #682929;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .row{
        flex-direction: column;
    }
    /* Current Project */
    .current h1{
        font-size: 24px;
    }
    /* Image Showcase */
    .carousel {
        width: 400px;
        height: 200px;
    }
}